<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="angular-csp.css">
</head>
<body ng-controller="ctrl">
 <!--加ng-cloak 并且引入angular css样式-->
<table class="table table-bordered" ng-cloak>
    <tr>
        <td>序号</td>
        <td>书的名字</td>
        <td>书的价格</td>
        <td>书的页数</td>
        <td>书的数量</td>
        <td>小计</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="book in books" ng-class="{'back':$even}">
        <td>{{$index+1}}</td>
        <td>{{book.name}}</td>
        <td>{{book.price}}</td>
        <td>{{book.page}}</td>
        <td><input type="text" ng-model="book.count"></td>
        <td>{{book.price*book.count}}</td>
        <!--在数组里删除当前项目-->
        <td><button class="btn-danger btn" ng-click="books.splice($index,1)">删除</button></td>
    </tr>
    <tr>
        <td colspan="7" ng-show="books.length">
            总额：{{total()}}
        </td>
    </tr>
</table>
<script src="angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('ctrl', function ($scope,$http) {
        //$http 和jquery的ajax一样 angular封装的服务
        /*$.get("test.php", function(data){
            alert("Data Loaded: " + data);
        });*/
        //jquery get方法
        $http.get('./book.json').success(function (data) {
            $scope.books=data;
        });
        /*$http({
            url:'./book.json',
            method:'GET'
        }).success(function (data) {
            //如果数据是字符串格式的 ，默认转回json
            $scope.books=data;
        });*/
        //iframe postMessage
    $scope.total = function () {
        var sum = 0;
        angular.forEach($scope.books, function (item) {
            //每一个商品的总价格
            sum+= item.count*item.price;
        });
        return sum;
    }
    });
</script>
</body>
</html>